.modal {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  max-height: 50vh;
  max-width: 50vw;
  background-color: hsl(203, 86%, 26%);
  border-radius: 2rem;
}

h1 {
  text-align: center;
  color: white;
}

.questions {
  padding: 0 2rem 2rem 2rem;
  color: white;
  line-height: 2rem;
  text-align: center;
}
li {
  list-style-type: none;
  width: 80%;
}

.question1,
.question2,
.question3,
.question4,
.question5,
.question6,
.question7,
.question8 {
  display: flex;
  justify-content: space-between;
}
